*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'Sansation';
	src: url('Sansation_Regular.ttf') format('truetype'), url('Sansation_Light.ttf') format('truetype'), url('Sansation_Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.hero{
	font-family: 'Sansation', Times, serif;
	position: relative;
    height: 100vh;
    width: 100vw;
    /* adicionando imagem de fundo */
    background: url('img/fundo.jpg');
    background-size: cover;

}

.hero2{
	position: absolute;
	
    height: 100vh;
    width: 100vw;

	background: linear-gradient(180deg, rgba(44, 0, 87, 0.5) 0%, rgba(217, 143, 0, 0.5) 32.81%, rgba(197, 12, 0, 0.5) 63.34%, rgba(2, 19, 34, 0.5) 100%);

}


#retanMusicas{
	position: absolute;
	width: 170px;
	height: 43px;
	left: 550px;
	top: 80px;

	background: #896CA5;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}


#retanFilmes{
	position: absolute;
	width: 171px;
	height: 43px;
	left: 690px;
	top: 80px;

	background: #F7BE4F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

#retanSeries{
	position: absolute;

	width: 172px;
	height: 43px;
	left: 825px;
	top: 80px;

	background: #D2342A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

#retanLivros{
	position: absolute;
	width: 171px;
	height: 43px;
	left: 960px;
	top: 80px;

	background: #3294EF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

}

.logoBlog{
	position: absolute;
	width: 120px;
	height: 90px;
	left: 50px;
	top: 50px;

}

nav h4{
	position: absolute;
	width: 71px;
	height: 47px;
	left: 175px;
	top: 70px;

	font-family: Sansation;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 24px;
	letter-spacing: -0.02em;

	color: #FFFFFF;

}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 30px;
}

nav ul li a{
	font-family: Sansation;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: -0.02em;
	top: 80px;
	color: #FFFFFF;
	text-align: center;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-decoration: none;

}

#carouselExampleControls{
	top: 200px;
}


.carousel-inner > .carousel-item.active > .col-3.float-left > img {
	border-radius: 20px;
	border: 3px solid #FFFAFA;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
}

.carousel-inner > .carousel-item.active > .col-3.float-left > img:hover {
	-webkit-transform:scale(1.50); /* Safari and Chrome */

}



